@model GuardingUS30.Models.UserModel
    <head>
        <style>
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                
            }
        </style>
    </head>
    <div>
        <h4>Admin View</h4>
        <hr />

        <h1>Welcome to the GuardingUS App</h1>

        <div class="center">
            <a asp-controller="Login" asp-action="Notification2View">Notifications</a>
        </div>
        <div class="center">
            <a asp-controller="Login" asp-action="AdminCatalog">Administrating Catalogs</a>
        </div>
        <div class="center">
            <a asp-controller="Login" asp-action="EntrancesExits2View">Exits and Entrances History</a>
        </div>

    </div>

