@model GuardingUS30.Models.UserModel
    <head>
        <style>
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                
            }
        </style>
    </head>
<div>
    <h4>Resident View</h4>
    <hr />

    <h1>Welcome to the GuardingUS App</h1>

    <div class="center">
        <button>Notifications</button>
    </div>

</div>
