@model GuardingUS30.Models.UserModel
    <head>
        <style>
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                
            }
        </style>
    </head>
    <div>
        <h4>Guard View</h4>
        <hr />

        <h1>Welcome to the GuardingUS App</h1>

        <form asp-controller="SecurityGuard" asp-action="NotificationView">
            <div class="center">
                <div class="form-group" hidden>
                    <label asp-for="iduser" class="control-label"></label>
                    <input asp-for="iduser" class="form-control"/>
                    <span asp-validation-for="iduser" class="text-danger"></span>
                </div>
                <button type="submit">Notifications</button>
            </div>
        </form>

        <div class="center">
            <a asp-controller="SecurityGuard" asp-action="AddEntranceView">Add Visitor</a>
        </div>
        <div class="center">
            <a asp-controller="SecurityGuard" asp-action="EntrancesExitsView">Exits and Entrances History</a>
        </div>

    </div>

