@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #2a64f5;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Guarding US</h1>
    
</div>
